@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,500&display=swap');

body {
    margin: 0;
    font-family: Rubik;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: #dcffaa;
}

/* nav - static */
.container {
    /* margin: 1.5rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "logo topic1 topic2 topic3 span";
}

.container .logo {
    grid-area: logo;
}

#red {
    color: #AC1818;
    text-decoration-line: none;
}

.container .topic {
    color: #565F07;
}

.container #topic1 {
    grid-area: topic1;
}

.container #topic2 {
    grid-area: topic2;
}

.container #topic3 {
    grid-area: topic3;
}




/* nav - dynamic effect */

/* head */
.container-head {
    background-color: #292C3F;
    color: #DFE0CE;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}


